@page
@model RiHack_RitehKromanjonci.Pages.RegisterModel
<link rel="stylesheet" href="~/css/login-novi.css" />
<header>
    <div class="header-container">
        <div class="header-wrapper">
            <div class="logoBox">
                <button><img src="images/icons8-home-480.png" alt="home"></button>
            </div>
            <div class="searchBox">
                <input type="search">
                <i class="fas fa-search"></i>
            </div>
            <div class="iconBox2">
                <button><img src="images/icons8-chat-50.png" alt="chat"></button>
                <button><img src="images/icons8-logout-30.png" alt="logout"></button>
                <button><label><img src="images/user.jpg" alt="user"></label></button>

            </div>
        </div>
    </div>
</header>
<div class="login-box">
    <h2>Registracija</h2>
    <h2>@Model.info</h2>
    <form action="/register" method="post">
        @Html.AntiForgeryToken()
        <div class="user-box">
            <input type="text" name="Email" required="" value="@Model.Email">
            <label>E-Mail</label>
        </div>
        <div class="user-box">
            <input required type="text" name="Username" value="@Model.Username">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input required type="password" name="Password" value="@Model.Password">
            <label>Lozinka</label>
        </div>
        <div class="user-box">
            <input required type="text" name="OIB" value="@Model.OIB">
            <label>OIB</label>
        </div>
        <button class="submit-button" type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Potvrdi
        </button>
    </form>
</div>