@using RiHack_RitehKromanjonci.Data
@using System.Security.Claims
@using RiHack_RitehKromanjonci.Models;

@inject AppDbContext Context
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager

<link href="./css/createpost.css" rel="stylesheet" />

@if (loggedUser is not null)
{
    <div class="post_container">
        <div class= "flex-container">
            <div class="box">
                <p>@loggedUser.Username</p>
            </div>
            <div class="box">
                <InputDate @bind-Value="TimeOfEvent" />
            </div>
        </div>
        
    </div>
    <div class="input-container">
        <input type="text" class="my-input" placeholder="Opišite aktivnost..." @bind="activityDescription" />
    </div>
    <div class="map">
        <RadzenGoogleMap Style="height: 600px;"
                         Zoom="@zoom"
                         MapClick="@OnMapClick"
                         Center="@(new GoogleMapPosition(){ Lat = userLatitude, Lng = userLongitude })">
            <Markers>
                <RadzenGoogleMapMarker Position="@(new GoogleMapPosition(){ Lat = userLatitude, Lng = userLongitude })" />
            </Markers>
        </RadzenGoogleMap>
        <button onclick="@(async () => {await PublicateThePost();})" style="width: 100%; align-content: center;" class="button">Objavi</button>
    </div>
    
}


@code {
    private User? loggedUser { get; set; }
    private int zoom = 14;
    private bool showCurrentLocationMarker;
    private string clickedPosition = "";
    private string activityDescription = "";
    private double userLatitude = 45.339441070869256;
    private double userLongitude = 14.427323128634512;
    private DateTime TimeOfEvent = DateTime.UtcNow;

    protected override async Task OnInitializedAsync()
    {
        var email = GetUserEmailFromCookie();

        loggedUser = Context.Users.Where(x => x.Email == email).FirstOrDefault()!;

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("getLocation", DotNetObjectReference.Create(this));
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable]
    public async Task OnLocationReceived(double latitude, double longitude)
    {
        // Do something with the latitude and longitude
        // For example, you can store it in a property or send it to the server.
        userLatitude = latitude;
        userLongitude = longitude;
        StateHasChanged(); // Update the UI if needed
    }

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        userLatitude = args.Position.Lat;
        userLongitude = args.Position.Lng;
    }

    async Task PublicateThePost()
    {
        var post = new PostModel
        {
            EventTime = TimeOfEvent,
            Latitude = userLatitude,
            Longitude = userLongitude,
            UserName = loggedUser.Username,
            NumberOfJoins = 0,
            PostDescription = activityDescription,
            UserId = loggedUser.Id
        };

        Context.Posts.Add(post);
        await Context.SaveChangesAsync();

        StateHasChanged();
        navManager.NavigateTo("/");

        
    }

    private Dictionary<string, string> ParseCookieData(string cookieValue)
    {
        var data = new Dictionary<string, string>();
        var keyValuePairs = cookieValue.Split('&');
        foreach (var keyValuePair in keyValuePairs)
        {
            var parts = keyValuePair.Split('=');
            if (parts.Length == 2)
            {
                var key = parts[0];
                var value = parts[1];
                data[key] = value;
            }
        }
        return data;
    }

    // Get the user's email from the cookie
    public string GetUserEmailFromCookie()
    {
        var principal = HttpContextAccessor.HttpContext.User;
        if (principal.Identity.IsAuthenticated)
        {
            var emailClaim = principal.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name);
            var email = emailClaim?.Value ?? "Not Found";
            return email;
        }
        else
        {
            return "Not authenticated";
        }
    }

}
