@using RiHack_RitehKromanjonci.Data
@using System.Security.Claims
@using RiHack_RitehKromanjonci.Models;

<link href="~/css/" rel="stylesheet">

@inject AppDbContext Context
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime jsruntine

<div class="post_container">
    <div>
        <div class="location-time">
            <p>@EventTime</p>
        </div>
        <div class="username">
            <p>@Username:</p>
        </div>
    </div>
    <div>
        <p>@PostDescription</p>
    </div>
        <div class="map">
            <RadzenGoogleMap Style="height: 600px; width: 70rem;"
                                Zoom="@zoom"
                                Center="@(new GoogleMapPosition(){ Lat = Latitude, Lng = Longitude })">
                <Markers>
                    <RadzenGoogleMapMarker Position="@(new GoogleMapPosition(){ Lat = Latitude, Lng = Longitude })" />
                </Markers>
            </RadzenGoogleMap>
        </div>
    </div>
    


@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public DateTime EventTime { get; set; }

    [Parameter]
    public string PostDescription { get; set; }

    [Parameter]
    public double Latitude { get; set; }

    [Parameter]
    public double Longitude { get; set; }

    private int zoom = 14;

}
